<!DOCTYPE html>
<html lang="en">
<head>
    <title>Doctor Finder</title>
    <!-- you can also say this:-->
     <link rel="icon" type="image/png" href="logo.png" />


    <!--Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--Swiper CSS-->
    <link rel="stylesheet" href="css/swiper.min.css">

    <!--Styles-->
    <link rel="stylesheet" href="css/style.css">
    <script src="js/custom.js"></script>
    <style>

    .appointment-box{
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 70px;
      font-size: 21px;
    }
    .appointment2-box{
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 70px;
      font-size: 21px;
    }
    .entry-content mt-4{
      color: blue;
      size: 10px;
    }
    </style>


</head>
<body>
    <header class="site-header">
        <div class="nav-bar">
            <div class="container">
                <div class="row">
                    <div class="col-12 d-flex flex-wrap justify-content-between align-items-center">
                        <div class="site-branding d-flex align-items-center">
                           <a class="d-block" href="index.html" rel="home"><img class="d-block" src="images/logo.png" alt="logo"></a>
                        </div><!--.site-branding-->



                        <nav class="site-navigation d-flex justify-content-end align-items-center">
                            <ul class="d-flex flex-column flex-lg-row justify-content-lg-end align-items-center">
                                <li><a href="/register-doctor">Register Doctor</a></li>
                                  <li><a href="/update-availability"> Update Availability of Doctors</a></li>
                                  <li class="current-menu-item"><a href="/">Log out</a></li>
                                </li>
                            </ul>
                        </nav><!--.site-navigation-->

                        <div class="hamburger-menu d-lg-none">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div><!-- .hamburger-menu -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .container -->
        </div><!-- .nav-bar -->


        <div class="swiper-container hero-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide hero-content-wrap" style="background-image: url('images/hero.jpg')">
                    <div class="hero-content-overlay position-absolute w-100 h-100">
                        <div class="container h-100">
                            <div class="row h-100">
                                <div class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-start">
                                    <header class="entry-header">
                                        <h1>Welcome !! </h1>
                                    </header><!-- .entry-header -->
                                    <div class="entry-content mt-4">
                                        <p><strong>We are glad that you have registered with us</strong></p>
                                    </div><!-- .entry-content -->
                                </div><!-- .col -->
                            </div><!-- .row -->
                        </div><!-- .container -->
                    </div><!-- .hero-content-overlay -->
                </div><!-- .hero-content-wrap -->


            <div class="pagination-wrap position-absolute w-100">
                <div class="swiper-pagination d-flex flex-row flex-md-column"></div>
            </div><!-- .pagination-wrap -->
        </div><!-- .hero-slider -->
    </header><!-- .site-header -->

</body>
</html>
